body {
  color: rgb(65, 75, 86);
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0
}

body {
  background-image: url("images/natural.png");
  background-color: #cccccc;
}

h1 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.row {
  align-items: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#aboutusText{
  flex-wrap: wrap;
  margin: 10%;
  margin-top: 1%;
  text-align:justify;
}

  /* Three columns side by side */
  .column {
    float: center;
    width: 33.3%;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }
