body {
  color: rgb(65, 75, 86);
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0
}

h1 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.review-grid {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  position: relative;
  text-align: center;
}

.review {
  padding: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
}

img.mod_img {
  display: block;
  margin: auto;
  width: 400px;
  height: 400px;
}

.modal-title{
  margin: auto;
  text-align: center;
}
#mod-text {
  flex-wrap: wrap;
  padding: 30px;
  text-align:justify;
}

#get-dir {
  margin-left: auto;
}

#close-btn {
  margin-right: auto;
}

#aboutuspic {
  margin: 0 auto;
}

#aboutusText{
  flex-wrap: wrap;
  margin: 10%;
  margin-top: 1%;
  text-align:justify;

}

img.grid_img {
  display: block;
  width: 200px;
  height: 200px;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.grid_img:hover {
  opacity: 0.5;
}
}
